
.flow-flowai {
    overflow: hidden;
    background: #223637;
    border: 1px solid #223637;
    color: #fff;
    text-align: center;
    .flow-title {
        + p {
            font-size: 18px;
            margin: 20px 0 20px;
        }
    }
    .handle {
        > a {
            text-align: center;
            overflow: hidden;
            float: left;
            width: 100px;
            height: 100px;
            padding: 0 15px;
            opacity: .7;
            color: #fff;
            text-decoration: none;
            .fa {
                display: block;
            }
            &:hover,
            &.current {
                opacity: 1;
            }
            @media (max-width: 768px) {
                width: 33.33%;
            }
        }
    }
    .flowai-desc {
        height: 50px;
        position: relative;
        color: #5a7376;
        font: bold 24px/50px '方正正大黑简体', 'Microsoft Yahei';
        > p {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
    .flowai-sketch {
        position: relative;
        margin: 0 auto;
        overflow: visible;
        width: 240px;
        height: 100%;
        > div {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -250px 0 0 -300px;
            width: 600px;
            height: 600px;
            display: none;
            &.current {
                display: block;
            }
            transform: scale(.5) translate3d(30px, 0, 0);
            transform-origin: 50% 0%;
        }
    }
    .visualization {
        .dashboard {
            position: absolute;
            left: 0;
            top: 0;
            width: 600px;
            height: 600px;
            background: url(/img/dash-board.png) 0 0 no-repeat;
        }
        .chart {
            width: 0;
            height: 400px;
            position: absolute;
            left: 20px;
            top: 100px;
            background: url(/img/chart-line.png) 0 0 no-repeat;
            transition: width 1s ease;
            &.animated.fill {
                width: 600px;
            }
        }
        .shadow {
            position: absolute;
            top: 370px;
            left: -260px;
            width: 800px;
            height: 400px;
            background: url(/img/dashboard-shadow.png) 0 0 no-repeat;
            transition: all .5s cubic-bezier(.61,-0.32,.96,1.76);
            opacity: 0;
            transform: translate3d(-140px, 100px, 0);
            &.animated.reset {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
    .deep-monitor,
    .user-portrait {
        img {
            position: absolute;
        }
    }

    .deep-monitor {
        @keyframes halo{
            0% {
                opacity: 0;
                transform: translate3d(0, 0, 0);
            }
            50% {
                opacity: .8;
                transform: translate3d(0, -200px, 0);
            }
            100% {
                opacity: 0;
                transform: translate3d(0, -300px, 0);
            }
        }
        @keyframes float {
            0% {
                transform: translate3d(0, 0, 0);
            }
            50% {
                transform: translate3d(0, -30px, 0);
            }
            100% {
                transform: translate3d(0, 0, 0);
            }
        }
        .shield-golden {
            animation: float 2s ease-in 0s infinite reverse;
        }
        .shield-halo {
            bottom: 100px;
            left: 40px;
            animation-name: halo;
            animation-timing-function: cubic-bezier(.81,.86,.73,1.01);
            &:nth-child(4n + 1) {
                animation-delay: .1s;
            }
            &:nth-child(4n + 2) {
                animation-delay: .7s;
            }
            &:nth-child(4n + 3) {
                animation-delay: .8s;
            }
        }
    }

    @media (min-width: 480px){
        .flowai-sketch {
            height: 360px;
            > div {
                transform-origin: 50% 50%;
            }
        }
    }
    @media (min-width: 768px) {
        text-align: left;
        .flowai-left {
            height: 100%;
            .flow-left-inner {
                position: absolute;
                top: 50%;
                margin-top: -200px;
            }
        }
        .flowai-sketch {
            width: 400px;
            height: 100%;
            > div {
                transform: scale(.8);
            }
        }
    }
    @media (min-width: 992px) {
        text-align: left;
        .flow-left-inner {
            left: 10%;
        }
        .flowai-sketch {
            width: 100% * 7 / 12;
            > div {
                transform: scale(1);
            }
        }
    }


    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 100px;
    }
    @media (max-height: 640px) {
        padding-top: 50px;
    }
}